<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.saravana.befit">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SettingsActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />

        <receiver android:name=".BroadCastReceiver.NotificationReceiver" />

        <activity
            android:name=".VisualizationActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DailyActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StartExerciseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Manual.ManualCheckActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Manual.ManualChooseActivity"
            android:parentActivityName=".PractiseEntryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RandomChooseActivity"
            android:parentActivityName=".PractiseEntryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PractiseEntryActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>